<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, , user-scalable=no">
  <title>404 not found</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/404_not_found.css">
</head>

<body>
  <div class="wrapper">
    <span>oops sorry!</span>
    <span class="nf">404 Not Found</span>
    <span>This Page is Not Available</span>
  </div>
</body>

</html>