<%- include('./parts/navbar.ejs',{title : "تسجيل الدخول", isLoggedIn :
locals.isLoggedIn ? isLoggedIn : false, stylesheets : ['/css/admin-login.css']}) _%>
<div class="authority">
    <img src="/txt_logo.png" alt="Image">
  </div>
<div class="form login">
  <form id="login-form">
    <div class="input-group">
      <input type="text" name="name" />
      <label>الاسم</label>
    </div>
    <div class="input-group">
      <input type="password" name="password" class="password" />
      <i class="password-toggle-icon fas fa-eye"></i>
      <label>الباسوورد</label>
      <span class="l-n">من 8 الى 50 رقم وحرف</span>
    </div>
    <input type="hidden" name="authority" value="superadmin">
    <button type="submit" class="btn" id="login-btn">تسجيل الدخول</button>
  </form>
</div>
<%- include('./parts/footer.ejs' ,
{moduleScripts : ['/js/admin-login.js']} ) _%>